/* AboutUs Page*/

    

.aboutUs{
  padding-top: 140px;
    padding-bottom: 100px;
    color: rgb(255, 252, 252);
    background-color:rgb(111, 39, 39);
  }

  
  .banner-img {
    min-width: 10%;
    width: 270px;
    height: 200px;
   }
  
  .grid-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 300px 300px;
    padding-top: 10px;
    
  }

  
 .grid-item{
border: 2px solid rgb(128, 0, 0);
padding: 10px;
z-index: 1;
will-change: width, height;
  }



  .grid-container-aboutUs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-top: 10p 
  }
  .about-container{
    height: 1500px;
  }
  
@media screen and (max-width: 1081px) {
  .grid-container-aboutUs {
    grid-template-columns: 1fr;}
  .grid-container{
    grid-template-columns: 2fr;

    }
  }

    
  
  
  
  