@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

  .farmRegister{
    padding-top: 100px;
    text-align: center;
  }
  .farmRegistration{
    color: rgb(0, 0, 0);
    margin: 10px 10px auto;
    padding: 10px;
    height:100%;
    max-width: 450px;
    width: 100vw;
    margin: 2em auto;
    text-align: left;
    font-family: "Poppins", cursive;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37); 
  }
  
  .farmRegister{
    background-image: url(../img/pexels-eberhard-grossgasteiger-2088170.jpg);
    background-size: cover;
    background-position: bottom center;  
  }

  .farmLabelText {
    display: inline-block;
    width: 150px;
    text-align: left;
  }

  @media screen and (max-width: 400px) {
    .farmRegistration{
      min-width:90%;
      font-size:smaller;
      height:auto;
    }
  }
  
  